# Copy this file to ".env"
# Local MongoDB:
# MONGO_URI=mongodb://localhost:27017
# MongoDB Atlas example:
MONGO_URI=mongodb+srv://career_app:career1234@cluster0.mongodb.net/
MONGO_DATABASE=ai_career
